node_modules/
npm-debug.log yarn-debug.log yarn-error.log .log
cypress/videos/ 
cypress/screenshots/ 
cypress/downloads/ 
cypress/reports/
.cypress/
.env 
.env.* 
!.env.example 
cypress.env.json
dist/ 
build/
cypress.env.json